<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.webServer>
    <modules>
      <add name="IISCircuitBreaker.Module" type="IISCircuitBreaker.Module.CircuitBreakerHttpModule" />
    </modules>
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!-- Use this with integrated mode. -->
<!--    <httpModules>
      <add name="IISCircuitBreaker.Module" type="IISCircuitBreaker.Module.CircuitBreakerHttpModule"/>
    </httpModules>
    -->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!-- Files to watch, comma-separated list. -->
    <add key="IISCircuitBreaker.FilesWatched" value=".aspx,.ashx" />

    <!-- Status codes to watch for, ignoring others, comma-separated list. -->
    <add key="IISCircuitBreaker.StatusCodes" value="500" />
    
    <!-- Consecutive errors to break circuit open. -->
    <add key="IISCircuitBreaker.ConsecutiveErrorsToBreak" value="5" />
    
    <!-- Delay until the circuit is closed again. -->
    <add key="IISCircuitBreaker.BreakDelayInSeconds" value="30" />
    
    <!-- Returned status while broken -->
    <add key="IISCircuitBreaker.StatusCodeWhileBroken" value="503" />
  </appSettings>
</configuration>